
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,500);

/* 'PT Sans', 'Gudea' */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Gudea:400,400italic);

body {
    background-color:rgb(255,218,0);
    color:black;
    font-family:'PT Sans', sans-serif;
}
body:hover .fsllogo {
    -webkit-transform: perspective( 800 ) translateZ(-25px) rotateY( 0deg );
    font-size:80pt;
}
.fsllogo {
    top:25%; left:10%;    
    margin-top:-130px; margin-left:-30px;
    
    font-family: 'Gudea', sans-serif;    
    background-color:rgb(255,218,0);
    position:absolute;
    -webkit-transform-origin:0% 0%; /* Safari and Chrome */    
    -webkit-transition-property: all;
    -webkit-transition-duration: 350ms;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transform: perspective( 800 ) translateZ(-25px) rotateY( 40deg );

    -moz-transform-style: preserve-3d;
    -moz-perpective-origin:0px 0px;
    -moz-transition-property: all;
    -moz-transition-duration: 350ms;
    -moz-transition-timing-function: ease-in-out;
    -moz-transform: rotateY(40deg);
    -moz-perspective:200px;        
    
    font-size:150pt;
    width:1800px;
    font-style:italic;    
}
.fsltagline {
    top:25%; left:10%;
    margin-left:310px;
    font-size:14pt;
    position:absolute;
    -webkit-transition-property: all;
    -webkit-transition-duration: 350ms;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-property: all;
    -moz-transition-duration: 350ms;
    transition-timing-function: ease-in-out;    
}
body:hover .fsltagline {
    margin-top:-26px; margin-left:0px;
}

.fslmain {
    top:25%; left:10%;
    margin:0px; 
    font-weight:400;
    position:absolute;
    border:1px solid rgba(0,0,0,0.2);
    width:800px;
    height:300px;
}
h1 {
    font-size:18pt;
}