
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,500);

/* 'PT Sans', 'Gudea' */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Gudea:400,400italic);

h1,h2,h3,h4{ margin:0px; border:0px; }
h1 { font-size:48pt; }
A {
    text-decoration:none;
    text-style:italics;
    color:black;
    font-weight:bold;
}
body {
    background-color:rgb(255,218,0);
    color:black;
    font-family:'PT Sans', sans-serif;
}
.fsllogo {
    top:22%; left:10%;    
    margin-top:-130px; margin-left:-30px;
    font-family: 'Gudea', sans-serif;    
    background-color:rgb(255,218,0);
    position:absolute;
    -webkit-transform-origin:0% 0%; /* Safari and Chrome */    
    -webkit-transition-property: all;
    -webkit-transition-duration: 350ms;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transform: perspective( 800 ) scale3d(2.0,2.0,2.0) translateZ(-25px) rotateY( 40deg );

    -moz-transition-property: all;
    -moz-transition-duration: 350ms;
    -moz-transition-timing-function: ease-in-out;
    -moz-transform: matrix(1, 0, -0.8, 1, 0, 0);

    font-size:80pt;
    width:1800px;
    font-style:italic;    
}
body:hover .fsllogo {
    -webkit-transform: perspective( 800 ) translateZ(-25px) rotateY( 0deg );
    -moz-transform: matrix(1, 0, 0, 1, 1, 1); 
}

.fsltagline {
    top:22%; left:10%;
    margin-left:310px;
    font-size:14pt;
    position:absolute;
    -webkit-transition-property: all;
    -webkit-transition-duration: 350ms;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-property: all;
    -moz-transition-duration: 350ms;
    transition-timing-function: ease-in-out;    
}
body:hover .fsltagline {
    margin-top:-26px; margin-left:0px;
}

h3 {
    font-size:20pt;
}
.fslmain {
    font-size:13pt;
    position:relative;
    margin: 0px 0px 0px 0px;
    padding:0px 100px 0px 0px;
    top:28%; left:13%;
    font-weight:400;
    position:absolute;
    width:40%;
}
.fslmain .box {
    position:absolute;
    right:-280px;
    top:10%;
    width:350px;
}
.fslmain .copy {
    margin-top:20px;
}

